.content-screen {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.screen {
    background: #181717;
    display: flex;
    width: 400px;
    justify-content: space-between;
    border-radius: 30px;
    opacity: 70%;
    color: #f1f1f1;
    margin: 20px;
    padding: 20px;
    box-shadow: 20px 5px 50px rgba(#000,.85);
  }
  .code {
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
  }

.hidden {
  visibility: hidden;
}

@media screen and (max-width: 650px){ 
  .screen {
    background: #181717;
    display: flex;
    width: 280px;
    height: 230px;
    border-radius: 30px;
    opacity: 70%;
    color: #f1f1f1;
    font-size: 20px;
    padding: 5px;
    box-shadow: 20px 5px 50px rgba(#000,.85);
  }
  .code {
    font-weight: bold;
    font-size: 20px;
  }
}