.box-black{
    background: #333;
    opacity: 70%;
    padding: 5px;
    box-sizing: content-box;
    width: 150px;
    height: 200px;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 0;
    display: flex;
    padding-bottom: 40px;
    
}
.box-black:hover{
    transform: rotate(-0.05turn);
}
.mail-box {
    width: 200px;
    height: 100%;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}
.mail-box, h2{
    font-size: 19px;
}
.mail-box, h2 {
    margin: 0 3px;
}
.mail-box img{
    width: 90px;
    opacity: 100%;
    display: flex;
    cursor: pointer;
    margin-bottom:  -40px;
    transition: 0.3s ease-in-out ;

}
.mail-box img:hover{
    width: 110px;
    opacity: 100%;
    display: flex;
    position: relative;
    top: 20%;
    cursor: pointer;
    transform: rotate(0.05turn);
}